#### Vim related files.

*.swp
*.vim

#### Python related files.

.cache/
*.pyc
__pycache__/

#### Folders to exclude.

refs/
tmp/
venv/

#### Database files.

*.db

#### Misc

.DS_Store
TODO.txt
env.sh
.env
.fuse*
